*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.container{
    background-image: url("./IMAGE.png");
    width: 100%;
    height: 800px;
    
}
.container ul {
    display: flex;
    gap: 70px;
    justify-content: center;
    padding-top: 30px;
    font-size: 25px;
    
    
}
.container ul li a{
    text-decoration: none;
    color: white;
    
    
    
}

.container li{
    list-style: none;
    text-align: center;
    

} 
.boxs{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    gap:100px;
    color: white;
    font-size:60px;

    
}
 


 .mainstyle{
    margin-top: 50px;
    display: flex;
    font-size: 25px;
    padding-left: 30px;
    gap: 150px;
    
    
 }
 .mainstyle h2{
    margin-bottom: 30px;

    
 }
 .mainstyle p{
    margin-bottom: 20px;
    
    
 }
 .mainstyle button{
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;

    
    
 }
 .mainstyle span {
    margin-left: 40px;
 }

 .text02 ul{
    display: flex;
    gap: 15px;
    
 }
 .text02 ul a {
text-decoration: none;

color: black;
 }
 .text02  li{
    list-style: none;
 }
 .text02{
    display: flex;
    margin-top: 50px;
    
 }
 .img02{
    margin-top: 30px;
 }
 .texto5{
    margin-top: 30px;
 }

 .section2{
    padding-left: 50px;
 }

 .text06{
    font-size: 25px;
    margin: 50px 0px ;
 }
 .input input{
    border-radius: 25px;

 }
 .input{
    margin-bottom: 20px;
 }
 .tap button{
    border-radius: 25px;
    padding: 10px;
 }
 .section3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    
 }


 
  